<% content_for :tail_scripts do %>
  <%= javascript_pack_tag "js/assignments", nonce: true %>
<% end %>

<h2 class="mb-8">Gestion des membres du projet <%= @project.name %></h2>

<%= content_tag :div,
  id: "assignments-elm-app",
  data: {
    assignments_endpoint: api_project_assignments_url(@project),
    assignable_users_endpoint: api_project_assignable_users_url(@project),
    project_id: @project.id,
    assignments: @project_assignments_json,
    users: @assignable_users_json
  }.to_json do %>
<% end %>
