<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p><%= @invitee.full_name %> de la société <%= @invitee.company.name %> a accepté votre invitation.</p>

    <p>Cordialement,</p>

    <p>Cabinet CCA</p>
  </body>
</html>
