<nav class="breadcrumb has-succeeds-separator">
  <ul>
    <% @folder.ancestors.each do |folder| %>
      <li>
        <%= link_to folder.name, project_folder_path(@project, folder) %>
      </li>
    <% end %>
    <li class="is-active">
      <%= link_to @folder.name, project_folder_path(@project, @folder) %>
    </li>
  </ul>
</nav>
