<nav class="bg-grey-lightest p-3 rounded w-full text-sm">
  <ul class="list-reset flex text-grey-dark">
    <% @folder.ancestors.each do |folder| %>
      <li class="text-blue font-bold">
        <%= link_to folder.name, project_folder_path(@project, folder) %>
      </li>
      <li><span class="mx-2">/</span></li>
    <% end %>
    <li>
      <%= @folder.name %>
    </li>
  </ul>
</nav>
