<div class="flex mb-6 text-xs font-bold">
  <div class="w-1/3">Nom</div>
  <div class="w-1/6">Déposé le</div>
  <div class="w-1/6">Propriétaire</div>
  <div class="w-1/6">Taille</div>
  <div class="w-1/6">Type</div>
  <div class="w-1/6"></div>
  <div class="w-1/6"></div>
</div>

<% if @folder.children.exists? %>
  <% @folder.children.each do |folder| %>
    <%= render 'folder_content_item', folder: folder %>
  <% end %>
<% end %>

<% if @folder.documents.exists? %>
  <% @folder.documents.each do |document| %>
    <%= render 'file_content_item', document: document %>
  <% end %>
<% end %>
