<%= form_with(model: [@project, @child_folder], local: true, class: "w-full max-w-sm") do |f| %>
  <div class="flex items-center border-b border-b-2 border-blue py-2">
    <%= f.text_field :name, class: "appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none #{"color-red" if @child_folder.errors.any?}", placeholder: "Nom de dossier" %>

    <%= hidden_field_tag :id, @folder.id %>

    <%= f.submit 'Créer', class: "flex-no-shrink bg-blue hover:bg-blue-dark border-blue hover:border-blue-dark text-sm border-4 text-white py-1 px-2 rounded" %>
  </div>
<% end %>
