<ul>
  <% node.subtree.arrange.each do |parent, child| %>
    <% parent.children.each do |folder| %>
      <% unless folder.id == current_folder.id %>
          <%= form.radio_button(:parent_id, folder.id, checked: folder.id == current_folder.parent_id) %>
          <span class="icon">
            <i class="far fa-folder"></i>
          </span>
          <%= folder.name %>
      <% end %>
      <%= render 'tree', node: folder, current_folder: current_folder, form: form %>
    <% end %>
  <% end %>
</ul>
