<% content_for :tail_scripts do %>
  <%= javascript_pack_tag "js/users" %>
<% end %>

<h2 class="mb-8">Utilisateurs</h2>

<% if allow_action? :users, :create %>
  <%= link_to 'Créer un nouvel utilisateur', new_user_url, class:"btn btn-blue" %>
<% end %>

<% if allow_action? :invitations, :create %>
  <%= link_to 'Créer une invitation', new_user_invitation_url, class:"btn btn-blue" %>
<% end %>

<%= content_tag :div,
  id: "users-elm-app",
  class: "py-8",
  data: {
    users: @users_json,
    projectsEndpoint: api_projects_url,
    usersEndpoint: api_users_url
  }.to_json do %>
<% end %>
