<section class="section">
  <div class="container">
    <h2 class="title is-2">
      <%= @user.full_name %>
    </h2>

    <div class="field is-grouped">
      <p class="control">
        <% if allow_action?(:users, :edit, @user) %>
          <%= link_to "Editer", edit_user_url(@user), class: "button" %>
        <% end %>
      </p>

      <p class="control">
        <% if allow_action?(:users, :impersonate) %>
          <%= button_to "Se connecter en tant que #{@user.first_name}", user_impersonation_path(@user), method: :post, class: "button" %>
        <% end %>
      </p>
    </div>

    <div class="content">
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th>
            Statut du compte
          </th>
          <td>
            <%= @user.account_status %>
          </td>
        </tr>
        <tr>
          <th>
            Niveau d'accès
          </th>
          <td>
            <%= t "activerecord.attributes.user.group.#{@user.group}" %>
          </td>
        </tr>
        <tr>
          <th>
            Email
          </th>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <th>
            Ville
          </th>
          <td>
            <%= @user.city %>
          </td>
        </tr>
        <tr>
          <th>
            Groupe
          </th>
          <td>
            <%= link_to @user.company.name, @user.company %>
          </td>
        </tr>
      </tbody>
    </table>

    <% if allow_action?(:users, :destroy, @user) %>
      <%= button_to "Supprimer", @user, method: :delete, data: { confirm: "Etes-vous sur de vouloir supprimer ce compte ?" }, class: "button is-danger" %>
    <% end %>
  </div>
</section
