* {
  margin: 0;
  padding: 0;
}

.table {
  border-collapse: collapse;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  margin-bottom: $spacer;
  max-width: 100%;
  width: 100%;
}

.table__header {
  text-align: left;
  border-bottom: $table-border-width solid $table-border-color;
}

.table-header__row {
  vertical-align: top;
}

.table-header-row__cell {
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
  vertical-align: top;
}

.table-body__row {
  border-bottom: $table-border-width solid $table-border-color;
}

.table-body-row__cell {
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
}

.form-group {
  margin-bottom: $spacer;
}
