<p>Bonjour,</p>

<p>Vous avez demandé à changer votre mot de passe. Pour ce faire, veuillez cliquer sur ce lien:</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas demandé à changer de mot de passe, ou si vous ne souhaitez plus en changer, vous pouvez ignorer le présent email.</p>
