<h2 class="mb-8">Projets</h2>

<div class="mb-8">
  <% if allow_action? :projects, :new %>
    <%= link_to 'Créer un nouveau projet', new_project_url, class:"btn btn-blue" %>
  <% end %>
</div>

<div class="flex flex-wrap">
  <% @projects.each do |project| %>
    <div class="w-1/5 rounded overflow-hidden shadow mr-4 mb-4">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= link_to project.root_folder.name, project_folder_url(project, project.root_folder) %></div>
      </div>
    </div>
  <% end %>
</div>
