<h1 class="title is-1">Projets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <% if allow_action? :projects, :edit %>
          <td><%= link_to "Editer", edit_project_url(project), class: "button is-small" %></td>
          <td><%= link_to "Gérer les membres du projet", project_assignments_path(project), class: "button is-small" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if allow_action? :projects, :edit %>
  <%= link_to 'Créer un nouveau projet', new_project_url, class:"button is-primary" %>
<% end %>
