.navigation {
  background-color: $gray-800;
  border-radius: 5px;
  padding-left: 0;

  li {
    display: inline-block;
    padding: 10px;

    a {
      color: $gray-300;
      text-decoration: none;
    }
  }
}
