<section class="section">
  <div class="container">
    <h2 class="title is-2">
      Page introuvable
    </h2>

    <div class="content">
      <p>La page que vous cherchez n'existe pas.</p>
      <p>Vérifiez que l'adresse saisie est correcte.</p>
    </div>

    <%= render 'links' %>
  </div>
</section
