<section class="section">
  <div class="container">
    <h2 class="title is-2">
      Une erreur inopinée est survenue
    </h2>

    <div class="content">
      <p>Nous avons notifié l'administrateur de cette erreur.</p>
      <p>Merci d'essayer à nouveau dans un instant.</p>
    </div>

    <%= render 'links' %>
  </div>
</section>
