<h1 class="title is-1">Archives</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @archived_projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <% if allow_action? :projects, :edit %>
          <td><%= link_to "Editer", edit_project_url(project), class: "button is-small" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
