<section class="section">
  <div class="container">
    <h2 class="title is-2">Archives</h2>

    <div class="content">
      <% @archived_projects.each do |project| %>
        <tr>
          <td>
            <%= link_to project.root_folder.name, project_folder_url(project, project.root_folder) %>
          </td>

          <td>
            <%= render 'projects/controls', project: project, subscription: project.subscriptions.find_by(subscriber: current_user, subscribeable: project) %>
          </td>
        </tr>
      <% end %>
    </div>
  </div>
</section>
