<h2 class="title is-2">Activités récentes</h2>

<% if @activities.exists? %>
  <ul>
  <% @activities.each do |activity| %>
    <li><%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %></li>
  <% end %>
  </ul>
<% else %>
  <p>Aucune activité.</p>
<% end %>

