<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; Cabinet Christian Curau Architecte</strong>
      </p>
    </div>
  </div>
</footer>
