<section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="navbar-end">
      <% if current_user.present? %>
        <p class="navbar-item">Bonjour <%= current_user.first_name %></p>
        <%= link_to "Editer mon profil", edit_user_registration_url, class: "navbar-item" %>
        <%= link_to 'Déconnexion', destroy_user_session_url, method: :delete, class: "navbar-item" %>
      <% end %>
    </div>

    <div class="container">
      <h1 class="title">
        <%= link_to 'CCA', root_path %>
      </h1>
      <h2 class="subtitle">
        Partage de fichiers
      </h2>
    </div>
  </div>
</section>
